src/component-content-aggregator.pug
//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Content Aggregator"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education light-grey-bg">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education light-grey-bg">
  <!--<![endif]-->

  main.gel-main
  h1 Content Aggregator

  .gel-content-aggregator
    .row
      .d-none.d-lg-block.col-lg-4
        .gel-content-aggregator__filter.expanded(data-auto-update='true' data-filter-attribute="tags")
            h3.filter-list-title Apply filters

            a.filter-title(href='#')
              h4 Filter title 1
            .gel-content-aggregator__collapsible-wrapper.filter-content
              .wrapper-content
                .gel-content-aggregator__collapsible-wrapper.filter-options
                  .wrapper-content
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value1')
                        label(class='form-check-label' for='filter-value1')
                          | Filter value 1
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value2')
                        label(class='form-check-label' for='filter-value2')
                          | Filter value 2
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value3')
                        label(class='form-check-label' for='filter-value3')
                          | Filter value 3
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value4')
                        label(class='form-check-label' for='filter-value4')
                          | Filter value 4
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value5')
                        label(class='form-check-label' for='filter-value5')
                          | Filter value 5
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value6')
                        label(class='form-check-label' for='filter-value6')
                          | Filter value 6
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value7')
                        label(class='form-check-label' for='filter-value7')
                          | Filter value 7
                    .option
                      .form-check
                        input(class='form-check-input' type='checkbox' id='filter-value8')
                        label(class='form-check-label' for='filter-value8')
                          | Filter value 8
                .expand-controls
                  a(class='more-options' href='#') More options
                  a(class='less-options' href='#') Less options


        .gel-content-aggregator__filter.expanded(data-filter-attribute='audience' data-auto-update='true')
          a.filter-title(href='#')
            h4 Audience
          .gel-content-aggregator__collapsible-wrapper.filter-content
            .wrapper-content
              .gel-content-aggregator__collapsible-wrapper.filter-options
                .wrapper-content
                  .option
                    .form-check
                      input(class='form-check-input' type='checkbox' id='filter2-value1' value='teachers')
                      label(class='form-check-label' for='filter2-value1')
                        | Teachers
                  .option
                    .form-check
                      input(class='form-check-input' type='checkbox' id='filter2-value2' value='staff')
                      label(class='form-check-label' for='filter2-value2')
                        | Staff
                  .option
                    .form-check
                      input(class='form-check-input' type='checkbox' id='filter2-value3' value='students')
                      label(class='form-check-label' for='filter2-value3')
                        | Students
                  .option
                    .form-check
                      input(class='form-check-input' type='checkbox' id='filter2-value4' value='parents')
                      label(class='form-check-label' for='filter2-value4')
                        | Parents


      .gel-content-aggregator__main-content.col-12.col-lg-8
        .results-summary
          h2.result-title Explore content
          p
          button(class='modal-filter-btn d-lg-none btn gel-button gel-button-secondary small' data-toggle='modal' data-target='.modal-filter')
            span.fas.fa-sliders-h(aria-hidden='true')
            | Filter content

        .gel-search-results
          .gel-result-items
          ul.gel-pagination
            li.gel-pagination__prev.gel-pagination__disabled
              a(href="#prev" title="Previous page" aria-label="Previous page")
                span Previous
            li.gel-pagination__prevMore.d-none ...
            li.gel-pagination__nextMore ...
            li.gel-pagination__next.gel-pagination__disabled
              a(href="#next" title="Next page" aria-label="Next page")
                span Next

    div(class='modal modal-filter' tabindex='-1' role='dialog')
      div.modal-dialog.modal-dialog-scrollable(role='document')
        .modal-content
          .modal-header
            h2.d-inline.d-md-none.modal-title Filters
            h2.d-none.d-md-inline.modal-title Refine Search
            button(type='button' class='close' data-dismiss='modal' aria-label='close')
              div(aria-hidden='true')
                div
                  span.fas.fa-times(aria-label='close')
                div close
          .modal-body
            .gel-content-aggregator__filter
              h4.filter-title Filter title 1
              .filter-options.gel-columns--3col
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value1')
                    label(class='form-check-label' for='modal-filter-value1')
                      | Filter value 1
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value2')
                    label(class='form-check-label' for='modal-filter-value2')
                      | Filter value 2
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value3')
                    label(class='form-check-label' for='modal-filter-value3')
                      | Filter value 3
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value4')
                    label(class='form-check-label' for='modal-filter-value4')
                      | Filter value 4
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value5')
                    label(class='form-check-label' for='modal-filter-value5')
                      | Filter value 5
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value6')
                    label(class='form-check-label' for='modal-filter-value6')
                      | Filter value 6
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value7')
                    label(class='form-check-label' for='modal-filter-value7')
                      | Filter value 7
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter-value8')
                    label(class='form-check-label' for='modal-filter-value8')
                      | Filter value 8

            .gel-content-aggregator__filter(data-filter-attribute='audience')
              h4.filter-title Filter title 2
              .filter-options.gel-columns--2col
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter2-value1' value='teachers')
                    label(class='form-check-label' for='modal-filter2-value1')
                      | Teachers
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter2-value2' value='staff')
                    label(class='form-check-label' for='modal-filter2-value2')
                      | Staff
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter2-value3' value='students')
                    label(class='form-check-label' for='modal-filter2-value3')
                      | Students
                .option
                  .form-check
                    input(class='form-check-input' type='checkbox' id='modal-filter2-value4' value='parents')
                    label(class='form-check-label' for='modal-filter2-value4')
                      | Parents

          .modal-footer
            .row.m-0
              +gel_button("Apply", "applyFilter gel-button-primary col-12 col-md-6 offset-md-6", "small")


    script(rel='itemTemplate' type='text/template')
      a.gel-featured-teaser-link
        .card.gel-featured-teaser_variant.mb-5(data-pseudo-link="data-pseudo-link")
          .card-body.gel-featured-teaser__inline_image_variant
            .row
              .col-12.col-md-6
                img
              .col-12.col-md-6.card-body-content
                div.card-label Label
                h4.card-title
                .gel-featured-teaser__arrow
                  span.far.fa-long-arrow-right
                span.card-type
    -
      var result = { items: []};
      for(let i=0; i < 32; i++) {
        const item = {
          "title": `Page ${i + 1} title`,
          "contentPath": `/page${i + 1}.html`
        }
        switch(i % 4) {
          case 0: item.audience = 'teachers'; break;
          case 1: item.audience = 'students'; break;
          case 2: item.audience = 'parents'; break;
          case 3: item.audience = 'staff'; break;
        }
        switch(i % 3) {
          case 0:
            item.isVideo = true;
          case 1: {
            item.imagePath = "https://via.placeholder.com/320x180";
            item.imageAltText = `page ${i + 1} image alt text`;
            item.isPodcast = !item.isVideo;
            break;
          }
        }
        result.items.push(item);
      }
    script(rel='result' type='application/json')
      != JSON.stringify(result)

include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug
  <!-- include component specific scripts here //-->
  script(src='../assets/js/polyfill/array_from.js' type='text/javascript')
  script(src='../assets/js/polyfill/customEvent.js' type='text/javascript')
  script(src='../assets/js/components/AggregatorFilter.js' type='text/javascript')
  script(src='../assets/js/components/ContentAggregator.js' type='text/javascript')

  </body>

dist/component-content-aggregator.html

<!-- Component - Local Mobile Navigation end--><!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="#{theme}" data-revision="18d6b197a">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="title" property="og:title" content=""/>
    <meta name="description" content=""/>
    <meta name="robots" content=""/>
    <meta name="doe.security.public" content="yes"/>
    <meta name="doe.orgunit" content="Teaching and learning"/>
    <meta name="doe.category" content=""/>
    <meta name="doe.audience" content=""/>
    <meta name="doe.topic" content=""/>
    <meta name="doe.tags" content=""/>
    <meta name="doe.job" content=""/>
    <meta name="doe.subjob" content=""/>
    <meta name="doe.yearlevel" content=""/>
    <meta property="og:description" content="Home Page"/>
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content=""/>
    <meta name="dcterms.identifier" content=""/>
    <meta name="dcterms.creator" content=""/>
    <meta name="dcterms.publisher" content=""/>
    <meta name="dcterms.rights" content=""/>
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00"/>
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00"/>
    <meta name="dcterms.subject" content=""/>
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU"/>
    <meta name="dcterms.format" content="dcterms.IMT; jpeg"/>
    <meta name="dcterms.type" content="text"/>
    <meta name="dcterms.audience" scheme="" content="All"/>
    <meta name="dcterms.coverage" content="Australia"/>
    <meta name="dcterms.rights" content=""/>
    <meta name="dcterms.isPartOf" content=""/>
    <meta name="dcterms.hasPart" content=""/>
    <meta name="dcterms.relation" content=""/>
    <meta name="AGLSTERMS.accessibility" content="W3C"/>
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified"/>
    <meta name="AGLSTERMS.function" content=""/>
    <meta name="AGLSTERMS.accessibility" content="W3C"/>
    <meta name="AGLSTERMS.function" content="EDUCATION AND TRAINING"/>
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified"/>
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/"/>
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/"/>
    <link rel="canonical" href=""/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ce0037"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome/all.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome-pro/all.css"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:300,500,600"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/core.css?r=18d6b197a" media="screen"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/print.css?r=18d6b197a" media="print"/>
    <link rel="stylesheet" href="assets/css/site.css?r=18d6b197a" media="screen"/>
    <link rel="stylesheet" href="assets/css/print.css?r=18d6b197a" media="print"/>
    <title>Content Aggregator | Section name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!--[if gt IE 9 | !IE ]><!-->
<body class="standard education light-grey-bg">
<!--<![endif]-->
<!--[if lte IE 9]>
<body class="gel-ie9 standard education light-grey-bg">
<!--<![endif]-->
  <main class="gel-main"></main>
  <h1>Content Aggregator</h1>
  <div class="gel-content-aggregator">
    <div class="row">
      <div class="d-none d-lg-block col-lg-4">
        <div class="gel-content-aggregator__filter expanded" data-auto-update="true" data-filter-attribute="tags">
          <h3 class="filter-list-title">Apply filters</h3><a class="filter-title" href="#">
            <h4>Filter title 1</h4></a>
          <div class="gel-content-aggregator__collapsible-wrapper filter-content">
            <div class="wrapper-content">
              <div class="gel-content-aggregator__collapsible-wrapper filter-options">
                <div class="wrapper-content">
                  <div class="option">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="filter-value1">
                      <label class="form-check-label" for="filter-value1">Filter value 1</label>
                    </div>
                  </div>
                  <div class="option">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="filter-value2">
                      <label class="form-check-label" for="filter-value2">Filter value 2</label>
                    </div>
                  </div>
                  <div class="option">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="filter-value3">
                      <label class="form-check-label" for="filter-value3">Filter value 3</label>
                    </div>
                  </div>
                  <div class="option">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="filter-value4">
                      <label class="form-check-label" for="filter-value4">Filter value 4</label>
                    </div>
                  </div>
                  <div class="option">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="filter-value5">
                      <label class="form-check-label" for="filter-value5">Filter value 5</label>
                    </div>
                  </div>
                  <div class="option">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="filter-value6">
                      <label class="form-check-label" for="filter-value6">Filter value 6</label>
                    </div>
                  </div>
                  <div class="option">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="filter-value7">
                      <label class="form-check-label" for="filter-value7">Filter value 7</label>
                    </div>
                  </div>
                  <div class="option">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="filter-value8">
                      <label class="form-check-label" for="filter-value8">Filter value 8</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="expand-controls"><a class="more-options" href="#">More options</a><a class="less-options" href="#">Less options</a></div>
            </div>
          </div>
        </div>
        <div class="gel-content-aggregator__filter expanded" data-filter-attribute="audience" data-auto-update="true"><a class="filter-title" href="#">
            <h4>Audience</h4></a>
          <div class="gel-content-aggregator__collapsible-wrapper filter-content">
            <div class="wrapper-content">
              <div class="gel-content-aggregator__collapsible-wrapper filter-options">
                <div class="wrapper-content">
                  <div class="option">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="filter2-value1" value="teachers">
                      <label class="form-check-label" for="filter2-value1">Teachers</label>
                    </div>
                  </div>
                  <div class="option">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="filter2-value2" value="staff">
                      <label class="form-check-label" for="filter2-value2">Staff</label>
                    </div>
                  </div>
                  <div class="option">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="filter2-value3" value="students">
                      <label class="form-check-label" for="filter2-value3">Students</label>
                    </div>
                  </div>
                  <div class="option">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="filter2-value4" value="parents">
                      <label class="form-check-label" for="filter2-value4">Parents</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gel-content-aggregator__main-content col-12 col-lg-8">
        <div class="results-summary">
          <h2 class="result-title">Explore content</h2>
          <p></p>
          <button class="modal-filter-btn d-lg-none btn gel-button gel-button-secondary small" data-toggle="modal" data-target=".modal-filter"><span class="fas fa-sliders-h" aria-hidden="true"></span>Filter content</button>
        </div>
        <div class="gel-search-results">
          <div class="gel-result-items"></div>
          <ul class="gel-pagination">
            <li class="gel-pagination__prev gel-pagination__disabled"><a href="#prev" title="Previous page" aria-label="Previous page"><span>Previous</span></a></li>
            <li class="gel-pagination__prevMore d-none">...</li>
            <li class="gel-pagination__nextMore">...</li>
            <li class="gel-pagination__next gel-pagination__disabled"><a href="#next" title="Next page" aria-label="Next page"><span>Next</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal modal-filter" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="d-inline d-md-none modal-title">Filters</h2>
            <h2 class="d-none d-md-inline modal-title">Refine Search</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="close">
              <div aria-hidden="true">
                <div><span class="fas fa-times" aria-label="close"></span></div>
                <div>close</div>
              </div>
            </button>
          </div>
          <div class="modal-body">
            <div class="gel-content-aggregator__filter">
              <h4 class="filter-title">Filter title 1</h4>
              <div class="filter-options gel-columns--3col">
                <div class="option">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="modal-filter-value1">
                    <label class="form-check-label" for="modal-filter-value1">Filter value 1</label>
                  </div>
                </div>
                <div class="option">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="modal-filter-value2">
                    <label class="form-check-label" for="modal-filter-value2">Filter value 2</label>
                  </div>
                </div>
                <div class="option">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="modal-filter-value3">
                    <label class="form-check-label" for="modal-filter-value3">Filter value 3</label>
                  </div>
                </div>
                <div class="option">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="modal-filter-value4">
                    <label class="form-check-label" for="modal-filter-value4">Filter value 4</label>
                  </div>
                </div>
                <div class="option">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="modal-filter-value5">
                    <label class="form-check-label" for="modal-filter-value5">Filter value 5</label>
                  </div>
                </div>
                <div class="option">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="modal-filter-value6">
                    <label class="form-check-label" for="modal-filter-value6">Filter value 6</label>
                  </div>
                </div>
                <div class="option">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="modal-filter-value7">
                    <label class="form-check-label" for="modal-filter-value7">Filter value 7</label>
                  </div>
                </div>
                <div class="option">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="modal-filter-value8">
                    <label class="form-check-label" for="modal-filter-value8">Filter value 8</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="gel-content-aggregator__filter" data-filter-attribute="audience">
              <h4 class="filter-title">Filter title 2</h4>
              <div class="filter-options gel-columns--2col">
                <div class="option">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="modal-filter2-value1" value="teachers">
                    <label class="form-check-label" for="modal-filter2-value1">Teachers</label>
                  </div>
                </div>
                <div class="option">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="modal-filter2-value2" value="staff">
                    <label class="form-check-label" for="modal-filter2-value2">Staff</label>
                  </div>
                </div>
                <div class="option">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="modal-filter2-value3" value="students">
                    <label class="form-check-label" for="modal-filter2-value3">Students</label>
                  </div>
                </div>
                <div class="option">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="modal-filter2-value4" value="parents">
                    <label class="form-check-label" for="modal-filter2-value4">Parents</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row m-0">
              <button class="btn gel-button applyFilter gel-button-primary col-12 col-md-6 offset-md-6 gel-button-small" type="submit" value="Apply">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script rel="itemTemplate" type="text/template"><a class="gel-featured-teaser-link">
        <div class="card gel-featured-teaser_variant mb-5" data-pseudo-link="data-pseudo-link">
          <div class="card-body gel-featured-teaser__inline_image_variant">
            <div class="row">
              <div class="col-12 col-md-6"><img></div>
              <div class="col-12 col-md-6 card-body-content">
                <div class="card-label">Label</div>
                <h4 class="card-title"></h4>
                <div class="gel-featured-teaser__arrow"><span class="far fa-long-arrow-right"></span></div><span class="card-type"></span>
              </div>
            </div>
          </div>
        </div></a></script>
    <script rel="result" type="application/json">{"items":[{"title":"Page 1 title","contentPath":"/page1.html","audience":"teachers","isVideo":true,"imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 1 image alt text","isPodcast":false},{"title":"Page 2 title","contentPath":"/page2.html","audience":"students","imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 2 image alt text","isPodcast":true},{"title":"Page 3 title","contentPath":"/page3.html","audience":"parents"},{"title":"Page 4 title","contentPath":"/page4.html","audience":"staff","isVideo":true,"imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 4 image alt text","isPodcast":false},{"title":"Page 5 title","contentPath":"/page5.html","audience":"teachers","imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 5 image alt text","isPodcast":true},{"title":"Page 6 title","contentPath":"/page6.html","audience":"students"},{"title":"Page 7 title","contentPath":"/page7.html","audience":"parents","isVideo":true,"imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 7 image alt text","isPodcast":false},{"title":"Page 8 title","contentPath":"/page8.html","audience":"staff","imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 8 image alt text","isPodcast":true},{"title":"Page 9 title","contentPath":"/page9.html","audience":"teachers"},{"title":"Page 10 title","contentPath":"/page10.html","audience":"students","isVideo":true,"imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 10 image alt text","isPodcast":false},{"title":"Page 11 title","contentPath":"/page11.html","audience":"parents","imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 11 image alt text","isPodcast":true},{"title":"Page 12 title","contentPath":"/page12.html","audience":"staff"},{"title":"Page 13 title","contentPath":"/page13.html","audience":"teachers","isVideo":true,"imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 13 image alt text","isPodcast":false},{"title":"Page 14 title","contentPath":"/page14.html","audience":"students","imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 14 image alt text","isPodcast":true},{"title":"Page 15 title","contentPath":"/page15.html","audience":"parents"},{"title":"Page 16 title","contentPath":"/page16.html","audience":"staff","isVideo":true,"imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 16 image alt text","isPodcast":false},{"title":"Page 17 title","contentPath":"/page17.html","audience":"teachers","imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 17 image alt text","isPodcast":true},{"title":"Page 18 title","contentPath":"/page18.html","audience":"students"},{"title":"Page 19 title","contentPath":"/page19.html","audience":"parents","isVideo":true,"imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 19 image alt text","isPodcast":false},{"title":"Page 20 title","contentPath":"/page20.html","audience":"staff","imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 20 image alt text","isPodcast":true},{"title":"Page 21 title","contentPath":"/page21.html","audience":"teachers"},{"title":"Page 22 title","contentPath":"/page22.html","audience":"students","isVideo":true,"imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 22 image alt text","isPodcast":false},{"title":"Page 23 title","contentPath":"/page23.html","audience":"parents","imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 23 image alt text","isPodcast":true},{"title":"Page 24 title","contentPath":"/page24.html","audience":"staff"},{"title":"Page 25 title","contentPath":"/page25.html","audience":"teachers","isVideo":true,"imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 25 image alt text","isPodcast":false},{"title":"Page 26 title","contentPath":"/page26.html","audience":"students","imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 26 image alt text","isPodcast":true},{"title":"Page 27 title","contentPath":"/page27.html","audience":"parents"},{"title":"Page 28 title","contentPath":"/page28.html","audience":"staff","isVideo":true,"imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 28 image alt text","isPodcast":false},{"title":"Page 29 title","contentPath":"/page29.html","audience":"teachers","imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 29 image alt text","isPodcast":true},{"title":"Page 30 title","contentPath":"/page30.html","audience":"students"},{"title":"Page 31 title","contentPath":"/page31.html","audience":"parents","isVideo":true,"imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 31 image alt text","isPodcast":false},{"title":"Page 32 title","contentPath":"/page32.html","audience":"staff","imagePath":"https://via.placeholder.com/320x180","imageAltText":"page 32 image alt text","isPodcast":true}]}
    </script>
  </div>
</html>
<script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
<script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
<script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/moment/moment.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
<script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script><!-- include component specific scripts here //-->
<script src="../assets/js/polyfill/array_from.js" type="text/javascript"></script>
<script src="../assets/js/polyfill/customEvent.js" type="text/javascript"></script>
<script src="../assets/js/components/AggregatorFilter.js" type="text/javascript"></script>
<script src="../assets/js/components/ContentAggregator.js" type="text/javascript"></script></body>
