dist/component-expanded-nav.html

<!-- Component - Local Mobile Navigation end--><!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="#{theme}" data-revision="18d6b197a">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="title" property="og:title" content=""/>
    <meta name="description" content=""/>
    <meta name="robots" content=""/>
    <meta name="doe.security.public" content="yes"/>
    <meta name="doe.orgunit" content="Teaching and learning"/>
    <meta name="doe.category" content=""/>
    <meta name="doe.audience" content=""/>
    <meta name="doe.topic" content=""/>
    <meta name="doe.tags" content=""/>
    <meta name="doe.job" content=""/>
    <meta name="doe.subjob" content=""/>
    <meta name="doe.yearlevel" content=""/>
    <meta property="og:description" content="Home Page"/>
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content=""/>
    <meta name="dcterms.identifier" content=""/>
    <meta name="dcterms.creator" content=""/>
    <meta name="dcterms.publisher" content=""/>
    <meta name="dcterms.rights" content=""/>
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00"/>
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00"/>
    <meta name="dcterms.subject" content=""/>
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU"/>
    <meta name="dcterms.format" content="dcterms.IMT; jpeg"/>
    <meta name="dcterms.type" content="text"/>
    <meta name="dcterms.audience" scheme="" content="All"/>
    <meta name="dcterms.coverage" content="Australia"/>
    <meta name="dcterms.rights" content=""/>
    <meta name="dcterms.isPartOf" content=""/>
    <meta name="dcterms.hasPart" content=""/>
    <meta name="dcterms.relation" content=""/>
    <meta name="AGLSTERMS.accessibility" content="W3C"/>
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified"/>
    <meta name="AGLSTERMS.function" content=""/>
    <meta name="AGLSTERMS.accessibility" content="W3C"/>
    <meta name="AGLSTERMS.function" content="EDUCATION AND TRAINING"/>
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified"/>
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/"/>
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/"/>
    <link rel="canonical" href=""/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ce0037"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome/all.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome-pro/all.css"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:300,500,600"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/core.css?r=18d6b197a" media="screen"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/print.css?r=18d6b197a" media="print"/>
    <link rel="stylesheet" href="assets/css/site.css?r=18d6b197a" media="screen"/>
    <link rel="stylesheet" href="assets/css/print.css?r=18d6b197a" media="print"/>
    <title>Expanded Nav | Section name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!--[if gt IE 9 | !IE ]><!-->
<body class="standard education">
<!--<![endif]-->
<!--[if lte IE 9]>
<body class="gel-ie9 standard education">
<!--<![endif]-->
  <main class="gel-main">
    <div class="container">
      <h1>Expanded Nav
        <section>
          <div class="expandedNav_default">
            <h2 class="gel-block__header">In this section</h2><div class="row gel-expanded-nav">
<div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
<h6><a href="#">Producs and services</a></h6>
<p>The product and services available incorporate hardware, software, infrastructure and support.</p>
</div>
<div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
<h6><a href="#">Guides and forms</a></h6>
<p>Understand how to get the most out of your technology and related support functions.</p>
</div>
<div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
<h6><a href="#">Projects and initiatives</a></h6>
<p>ITS manages and supports multiple projects and improvement initiatives for the whole department.</p>
</div>
<div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
<h6><a href="#">About ITD</a></h6>
<p>We develop, source, implement and support a range of technology solutions for the department.</p>
</div>
</div>
          </div>
        </section>
      </h1>
      <div id="expandedNav_auto">
        <section>
          <div class="expandedNav_default">
            <h2 class="gel-block__header">Expanded Nav default</h2>
            <div class="row gel-expanded-nav">
              <div class="col-lg-4 col-md-6 gel-expanded-nav__item "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">One morning when Gregor </a></h3>
                <p>His many legs, pitifully thin compared with the size of the rest.
                </p>
              </div>
              <div class="col-lg-4 col-md-6 gel-expanded-nav__item "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">His room a proper </a></h3>
                <p>and above it there hung a picture that he had recently cut.
                </p>
              </div>
              <div class="col-lg-4 col-md-6 gel-expanded-nav__item "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">Drops of rain could </a></h3>
                <p>He must have tried it a hundred times, shut his eyes so.
                </p>
              </div>
              <div class="col-lg-4 col-md-6 gel-expanded-nav__item "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">One morning when Gregor </a></h3>
                <p>His many legs, pitifully thin compared with the size of the rest.
                </p>
              </div>
              <div class="col-lg-4 col-md-6 gel-expanded-nav__item "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">His room a proper </a></h3>
                <p>and above it there hung a picture that he had recently cut.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="expandedNav_default">
            <h2 class="gel-block__header">Expanded Nav with description hidden on mobile</h2>
            <div class="row gel-expanded-nav">
              <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">Drops of rain could </a></h3>
                <p>He must have tried it a hundred times, shut his eyes so.
                </p>
              </div>
              <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">One morning when Gregor </a></h3>
                <p>His many legs, pitifully thin compared with the size of the rest.
                </p>
              </div>
              <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">His room a proper </a></h3>
                <p>and above it there hung a picture that he had recently cut.
                </p>
              </div>
              <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">Drops of rain could </a></h3>
                <p>He must have tried it a hundred times, shut his eyes so.
                </p>
              </div>
              <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">One morning when Gregor </a></h3>
                <p>His many legs, pitifully thin compared with the size of the rest.
                </p>
              </div>
              <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">His room a proper </a></h3>
                <p>and above it there hung a picture that he had recently cut.
                </p>
              </div>
              <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">Drops of rain could </a></h3>
                <p>He must have tried it a hundred times, shut his eyes so.
                </p>
              </div>
              <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">One morning when Gregor </a></h3>
                <p>His many legs, pitifully thin compared with the size of the rest.
                </p>
              </div>
              <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">His room a proper </a></h3>
                <p>and above it there hung a picture that he had recently cut.
                </p>
              </div>
              <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">Drops of rain could </a></h3>
                <p>He must have tried it a hundred times, shut his eyes so.
                </p>
              </div>
              <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                <h3><a href="#">One morning when Gregor </a></h3>
                <p>His many legs, pitifully thin compared with the size of the rest.
                </p>
              </div>
            </div>
          </div>
        </section>
        <div class="row">
          <div class="col-md-8">
            <section>
              <div class="expandedNav_default">
                <h2 class="gel-block__header">66% - Expanded Nav with description hidden on mobile</h2>
                <div class="row gel-expanded-nav">
                  <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                    <h3><a href="#">His room a proper </a></h3>
                    <p>and above it there hung a picture that he had recently cut.
                    </p>
                  </div>
                  <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                    <h3><a href="#">Drops of rain could </a></h3>
                    <p>He must have tried it a hundred times, shut his eyes so.
                    </p>
                  </div>
                  <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                    <h3><a href="#">One morning when Gregor </a></h3>
                    <p>His many legs, pitifully thin compared with the size of the rest.
                    </p>
                  </div>
                  <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                    <h3><a href="#">His room a proper </a></h3>
                    <p>and above it there hung a picture that he had recently cut.
                    </p>
                  </div>
                  <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                    <h3><a href="#">Drops of rain could </a></h3>
                    <p>He must have tried it a hundred times, shut his eyes so.
                    </p>
                  </div>
                  <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                    <h3><a href="#">One morning when Gregor </a></h3>
                    <p>His many legs, pitifully thin compared with the size of the rest.
                    </p>
                  </div>
                  <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                    <h3><a href="#">His room a proper </a></h3>
                    <p>and above it there hung a picture that he had recently cut.
                    </p>
                  </div>
                  <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                    <h3><a href="#">Drops of rain could </a></h3>
                    <p>He must have tried it a hundred times, shut his eyes so.
                    </p>
                  </div>
                  <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                    <h3><a href="#">One morning when Gregor </a></h3>
                    <p>His many legs, pitifully thin compared with the size of the rest.
                    </p>
                  </div>
                  <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                    <h3><a href="#">His room a proper </a></h3>
                    <p>and above it there hung a picture that he had recently cut.
                    </p>
                  </div>
                  <div class="col-md-3 gel-expanded-nav__item gel-expanded-nav__item--alt1 "><i class="fas fa-angle-right" aria-hidden="true"></i>
                    <h3><a href="#">Drops of rain could </a></h3>
                    <p>He must have tried it a hundred times, shut his eyes so.
                    </p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/moment/moment.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script></body>
</html>

src/component-expanded-nav.pug
//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Expanded Nav"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  main.gel-main

    .container
      h1 Expanded Nav

        section
            div.expandedNav_default
              h2.gel-block__header
                | In this section
              <div class="row gel-expanded-nav">
                <div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h6><a href="#">Producs and services</a></h6>
                  <p>The product and services available incorporate hardware, software, infrastructure and support.</p>
                </div>
                <div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h6><a href="#">Guides and forms</a></h6>
                  <p>Understand how to get the most out of your technology and related support functions.</p>
                </div>
                <div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h6><a href="#">Projects and initiatives</a></h6>
                  <p>ITS manages and supports multiple projects and improvement initiatives for the whole department.</p>
                </div>
                <div class="col-lg-3 col-md-6 gel-expanded-nav__item"><i class="fas fa-angle-right" aria-hidden="true"></i>
                  <h6><a href="#">About ITD</a></h6>
                  <p>We develop, source, implement and support a range of technology solutions for the department.</p>
                </div>
              </div>
                  
      div#expandedNav_auto

        section
          div.expandedNav_default
            h2.gel-block__header
              | Expanded Nav default

            +gel_expanded_nav(5)

        section
          div.expandedNav_default
            h2.gel-block__header
              | Expanded Nav with description hidden on mobile

            +gel_expanded_nav(11, {hide_mobile_description: true})

        .row
          .col-md-8
            section
              div.expandedNav_default
                h2.gel-block__header
                  | 66% - Expanded Nav with description hidden on mobile

                +gel_expanded_nav(11, {hide_mobile_description: true})    
      
      
              

  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
