src/component-news-list.pug
//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "News list"

//--- HTML
//---------------------------------------------------------

mixin gel_news_list(num)

  div.gel-link-columns

    - var n  = 0

    ul(class="gel-link-list gel-link-columns__items")
      while n < num
        li
          span.gel-link-columns-icon(aria-hidden="true")
          a(href="#")
            +lipsum(6, "words", true)
            br
            time.gel-news-list-date(datetime="2015-12-25")
              | 25 December 2019
         
        -n++

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  main.gel-main

    .container
      h1 News List

      
      aside
        div.container.pt-3.pb-5
          div.gel-news-list
            h6 Heading for category
            +gel_news_list(5)
        
        
        
  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>

dist/component-news-list.html

<!-- Component - Local Mobile Navigation end--><!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="#{theme}" data-revision="18d6b197a">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="title" property="og:title" content=""/>
    <meta name="description" content=""/>
    <meta name="robots" content=""/>
    <meta name="doe.security.public" content="yes"/>
    <meta name="doe.orgunit" content="Teaching and learning"/>
    <meta name="doe.category" content=""/>
    <meta name="doe.audience" content=""/>
    <meta name="doe.topic" content=""/>
    <meta name="doe.tags" content=""/>
    <meta name="doe.job" content=""/>
    <meta name="doe.subjob" content=""/>
    <meta name="doe.yearlevel" content=""/>
    <meta property="og:description" content="Home Page"/>
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content=""/>
    <meta name="dcterms.identifier" content=""/>
    <meta name="dcterms.creator" content=""/>
    <meta name="dcterms.publisher" content=""/>
    <meta name="dcterms.rights" content=""/>
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00"/>
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00"/>
    <meta name="dcterms.subject" content=""/>
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU"/>
    <meta name="dcterms.format" content="dcterms.IMT; jpeg"/>
    <meta name="dcterms.type" content="text"/>
    <meta name="dcterms.audience" scheme="" content="All"/>
    <meta name="dcterms.coverage" content="Australia"/>
    <meta name="dcterms.rights" content=""/>
    <meta name="dcterms.isPartOf" content=""/>
    <meta name="dcterms.hasPart" content=""/>
    <meta name="dcterms.relation" content=""/>
    <meta name="AGLSTERMS.accessibility" content="W3C"/>
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified"/>
    <meta name="AGLSTERMS.function" content=""/>
    <meta name="AGLSTERMS.accessibility" content="W3C"/>
    <meta name="AGLSTERMS.function" content="EDUCATION AND TRAINING"/>
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified"/>
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/"/>
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/"/>
    <link rel="canonical" href=""/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ce0037"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome/all.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome-pro/all.css"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:300,500,600"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/core.css?r=18d6b197a" media="screen"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/print.css?r=18d6b197a" media="print"/>
    <link rel="stylesheet" href="assets/css/site.css?r=18d6b197a" media="screen"/>
    <link rel="stylesheet" href="assets/css/print.css?r=18d6b197a" media="print"/>
    <title>News list | Section name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!--[if gt IE 9 | !IE ]><!-->
<body class="standard education">
<!--<![endif]-->
<!--[if lte IE 9]>
<body class="gel-ie9 standard education">
<!--<![endif]-->
  <main class="gel-main">
    <div class="container">
      <h1>News List</h1>
      <aside>
        <div class="container pt-3 pb-5">
          <div class="gel-news-list">
            <h6>Heading for category</h6>
            <div class="gel-link-columns">
              <ul class="gel-link-list gel-link-columns__items">
                <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">One morning, when Gregor Samsa woke.<br/>
                    <time class="gel-news-list-date" datetime="2015-12-25">25 December 2019</time></a></li>
                <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His many legs, pitifully thin compared.<br/>
                    <time class="gel-news-list-date" datetime="2015-12-25">25 December 2019</time></a></li>
                <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">His room, a proper human room.<br/>
                    <time class="gel-news-list-date" datetime="2015-12-25">25 December 2019</time></a></li>
                <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">and above it there hung a.<br/>
                    <time class="gel-news-list-date" datetime="2015-12-25">25 December 2019</time></a></li>
                <li><span class="gel-link-columns-icon" aria-hidden="true"></span><a href="#">Drops of rain could be heard.<br/>
                    <time class="gel-news-list-date" datetime="2015-12-25">25 December 2019</time></a></li>
              </ul>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </main>
  <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/moment/moment.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script></body>
</html>
