src/component-banner.pug
//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Banners"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education light-grey-bg">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education light-grey-bg">
  <!--<![endif]-->

  main.gel-main

    .container
      h1 Banners

      h2 Large (Deprecated)
      .row
        .col-12
          +gel_banner("assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg")

      h2 Without Overlay
      .row
        .col-12
          +gel_banner("assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg",false, false, true, false, true)

      h2 Without Overlay + With Link
      .row
        .col-12
          +gel_banner("assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg",false, false, true, false, true, true)

      h2 With Overlay
      .row
        .col-12
          +gel_banner("assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg", false, false, false, true, true)

      h2 With Overlay + With Link
      .row
        .col-12
          +gel_banner("assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg", false, false, false, true, false, true)

      h2 With Video
      .row
        .col-12
          +gel_banner(false, true, false, true)

      h2 Small (Deprecated)
      .row
        .col-12
          +gel_banner("assets/images/BED-Banner-1350x227.jpg",false, true)

      h2 Homepage Banner
      .row
        .col-12
          +edu_home_banner


  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>

dist/component-banner.html

<!-- Component - Local Mobile Navigation end--><!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="#{theme}" data-revision="18d6b197a">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="title" property="og:title" content=""/>
    <meta name="description" content=""/>
    <meta name="robots" content=""/>
    <meta name="doe.security.public" content="yes"/>
    <meta name="doe.orgunit" content="Teaching and learning"/>
    <meta name="doe.category" content=""/>
    <meta name="doe.audience" content=""/>
    <meta name="doe.topic" content=""/>
    <meta name="doe.tags" content=""/>
    <meta name="doe.job" content=""/>
    <meta name="doe.subjob" content=""/>
    <meta name="doe.yearlevel" content=""/>
    <meta property="og:description" content="Home Page"/>
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content=""/>
    <meta name="dcterms.identifier" content=""/>
    <meta name="dcterms.creator" content=""/>
    <meta name="dcterms.publisher" content=""/>
    <meta name="dcterms.rights" content=""/>
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00"/>
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00"/>
    <meta name="dcterms.subject" content=""/>
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU"/>
    <meta name="dcterms.format" content="dcterms.IMT; jpeg"/>
    <meta name="dcterms.type" content="text"/>
    <meta name="dcterms.audience" scheme="" content="All"/>
    <meta name="dcterms.coverage" content="Australia"/>
    <meta name="dcterms.rights" content=""/>
    <meta name="dcterms.isPartOf" content=""/>
    <meta name="dcterms.hasPart" content=""/>
    <meta name="dcterms.relation" content=""/>
    <meta name="AGLSTERMS.accessibility" content="W3C"/>
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified"/>
    <meta name="AGLSTERMS.function" content=""/>
    <meta name="AGLSTERMS.accessibility" content="W3C"/>
    <meta name="AGLSTERMS.function" content="EDUCATION AND TRAINING"/>
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified"/>
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/"/>
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/"/>
    <link rel="canonical" href=""/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ce0037"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome/all.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome-pro/all.css"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:300,500,600"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/core.css?r=18d6b197a" media="screen"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/print.css?r=18d6b197a" media="print"/>
    <link rel="stylesheet" href="assets/css/site.css?r=18d6b197a" media="screen"/>
    <link rel="stylesheet" href="assets/css/print.css?r=18d6b197a" media="print"/>
    <title>Banners | Section name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!--[if gt IE 9 | !IE ]><!-->
<body class="standard education light-grey-bg">
<!--<![endif]-->
<!--[if lte IE 9]>
<body class="gel-ie9 standard education light-grey-bg">
<!--<![endif]-->
  <main class="gel-main">
    <div class="container">
      <h1>Banners</h1>
      <h2>Large (Deprecated)</h2>
      <div class="row">
        <div class="col-12">
          <aside class="gel-banner-container" aria-label="banner">
            <div>
              <h2 class="show-on-sr">Featured page</h2>
              <div class="gel-banner"><img class="img-fluid" src="assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg" alt="placeholder banner"/>
                <div class="gel-banner__content" tabindex="0">
                  <div class="banner__content-container">
                    <h3 class="gel-banner__content__title">About Us</h3>
                    <p>
                      In Communication and Engagement, we’re building a connected and digital future between parents,
                      students and teachers to improve education outcomes in NSW.
                    </p>
                    <div><a class="btn gel-button gel-button-small gel-button-primary" href="#" title="banner link">One morning </a></div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <h2>Without Overlay</h2>
      <div class="row">
        <div class="col-12">
          <aside class="gel-banner-container" aria-label="banner">
            <div>
              <h2 class="show-on-sr">Featured page</h2>
              <div class="gel-banner fifty_fifty_warpper row">
                <div class="col-lg-6 order-lg-last order-md-first">
                  <div class="media-container image_container"><img class="img-fluid" src="assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg" alt="placeholder banner"/></div>
                </div>
                <div class="gel-banner__content col-lg-6 order-lg-first gel-banner__content_fifty" tabindex="0">
                  <div class="banner__content-container">
                    <h3 class="gel-banner__content__title">About Us</h3>
                    <p>
                      In Communication and Engagement, we’re building a connected and digital future between parents,
                      students and teachers to improve education outcomes in NSW.
                    </p>
                    <div><a class="btn gel-button gel-button-small gel-button-primary" href="#" title="banner link">His many </a></div>
                    <div><a class="btn gel-button gel-button-small gel-button-secondary" href="#" title="banner link">His room </a></div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <h2>Without Overlay + With Link</h2>
      <div class="row">
        <div class="col-12">
          <aside class="gel-banner-container" aria-label="banner">
            <div>
              <h2 class="show-on-sr">Featured page</h2>
              <div class="gel-banner fifty_fifty_warpper row">
                <div class="col-lg-6 order-lg-last order-md-first">
                  <div class="media-container image_container"><img class="img-fluid" src="assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg" alt="placeholder banner"/></div>
                </div>
                <div class="gel-banner__content col-lg-6 order-lg-first gel-banner__content_fifty" tabindex="0">
                  <div class="banner__content-container">
                    <h3 class="gel-banner__content__title">About Us</h3>
                    <p>
                      In Communication and Engagement, we’re building a connected and digital future between parents,
                      students and teachers to improve education outcomes in NSW.
                    </p>
                    <div><a href="#" title="banner link">and above </a></div>
                    <div><a href="https://www.google.com" title="banner link">Drops of </a></div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <h2>With Overlay</h2>
      <div class="row">
        <div class="col-12">
          <aside class="gel-banner-container" aria-label="banner">
            <div>
              <h2 class="show-on-sr">Featured page</h2>
              <div class="gel-banner"><img class="img-fluid" src="assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg" alt="placeholder banner"/>
                <div class="gel-banner__content large-overlay" tabindex="0">
                  <div class="banner__content-container">
                    <h3 class="gel-banner__content__title">About Us</h3>
                    <p>
                      In Communication and Engagement, we’re building a connected and digital future between parents,
                      students and teachers to improve education outcomes in NSW.
                    </p>
                    <div><a class="btn gel-button gel-button-small gel-button-primary" href="#" title="banner link">He must </a></div>
                    <div><a class="btn gel-button gel-button-small gel-button-secondary" href="#" title="banner link">One morning </a></div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <h2>With Overlay + With Link</h2>
      <div class="row">
        <div class="col-12">
          <aside class="gel-banner-container" aria-label="banner">
            <div>
              <h2 class="show-on-sr">Featured page</h2>
              <div class="gel-banner"><img class="img-fluid" src="assets/images/primary_boys_tending_on_vegie_garden_with_female_teacher_2_optimised_2.jpg" alt="placeholder banner"/>
                <div class="gel-banner__content large-overlay" tabindex="0">
                  <div class="banner__content-container">
                    <h3 class="gel-banner__content__title">About Us</h3>
                    <p>
                      In Communication and Engagement, we’re building a connected and digital future between parents,
                      students and teachers to improve education outcomes in NSW.
                    </p>
                    <div><a href="#" title="banner link">His many </a></div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <h2>With Video</h2>
      <div class="row">
        <div class="col-12">
          <aside class="gel-banner-container" aria-label="banner">
            <div>
              <h2 class="show-on-sr">Featured page</h2>
              <div class="gel-banner fifty_fifty_warpper row">
                <div class="col-lg-6 order-lg-last order-md-first">
                  <div class="media-container video_container">
                    <div class="gel-script embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q3YYwIsMHzw?rel=0" title="Earth at Night" allowfullscreen="" aria-label="Earth at Night"></iframe>
                    </div>
                  </div>
                </div>
                <div class="gel-banner__content col-lg-6 order-lg-first gel-banner__content_fifty" tabindex="0">
                  <div class="banner__content-container">
                    <h3 class="gel-banner__content__title">About Us</h3>
                    <p>
                      In Communication and Engagement, we’re building a connected and digital future between parents,
                      students and teachers to improve education outcomes in NSW.
                    </p>
                    <div><a class="btn gel-button gel-button-small gel-button-primary" href="#" title="banner link">His room </a></div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <h2>Small (Deprecated)</h2>
      <div class="row">
        <div class="col-12">
          <aside class="gel-banner-container gel-banner-container--small" aria-label="banner">
            <div>
              <h2 class="show-on-sr"></h2>
              <div class="gel-banner"><img class="img-fluid" src="assets/images/BED-Banner-1350x227.jpg" alt="placeholder banner"/>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <h2>Homepage Banner</h2>
      <div class="row">
        <div class="col-12">
          <aside class="edu-banner-container gel-banner-container" aria-label="banner">
            <div class="home-banner-container row">
              <div class="edu-banner">
                <div class="edu-banner-image-container"><img class="edu-banner-image" src="assets/images/banner-school-01.jpg" alt=""/>
                  <div class="edu-banner-background-image"> </div>
                </div>
                <div class="edu-banner-textbox-container">
                  <div class="edu-banner-textbox">
                    <h1 class="edu-banner-header">Welcome to the Department of education NSW</h1>
                    <p>The new school year just a couple of weeks away, make sure you're as prepared as can be for this years adventure. <br/><a class="btn gel-button gel-button-primary gel-button-small" href="#">Read more</a></p>
                    <hr/>
                    <div class="edu-banner-search">
                      <p>Search public department content</p>
                      <div class="edu-banner-search-form">
                        <form class="gel-search gel-search--body" id="global-search-home-banner" action="https://education.nsw.gov.au/search" aria-hidden="false" aria-labelledby="global-search-banner-button">
                          <fieldset>
                            <legend class="show-on-sr">Global Search</legend>
                            <div class="gel-searchbox gel-border gel-large">
                              <div class="form-group">
                                <div class="input-group">
                                  <input class="form-control" type="text" placeholder="Enter your search..." name="q"/>
                                  <div class="input-group-append">
                                    <button class="btn gel-button" type="submit" aria-label="Submit search" tabindex="0"><span class="fas fa-search">           </span></button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </main>
  <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/moment/moment.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script></body>
</html>
