src/component-news-hub.pug
//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "News Hub"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  main.gel-main

    .container
      h1 News Hub / Featured Teasers with Filter
      .container.gel_featured_teaser_container
        .row
          .col-lg-12
            form
              #frm01.gel-form.gel-form--inline.no-gutters(action='' method='GET')
                fieldset
                  legend.show-on-sr News Sort Options
                  .fav_show_wrapper
                    label(for='25')
                      | Category
                    select#25(name='25' data-gel-auto-submit2='data-gel-auto-submit2')
                      option(value='0')
                        | One morning
                      option(value='1')
                        | His many
                      option(value='2')
                        | His room
                      option(value='3')
                        | and above
                      option(value='4')
                        | Drops of
                      option(value='5')
                        | He must
                      option(value='6')
                        | One morning
                      option(value='7')
                        | His many
                  .fav_show_wrapper
                    label(for='67')
                      | News from
                    select#67(name='67' data-gel-auto-submit2='data-gel-auto-submit2')
                      option(value='0')
                        | His room
                      option(value='1')
                        | and above
                      option(value='2')
                        | Drops of
                      option(value='3')
                        | He must
                      option(value='4')
                        | One morning
                      option(value='5')
                        | His many
                  input#sub01.btn.gel-button.gel-button-primary.gel-button-small(type='submit' name='sub01' value='Filter')
        .row
          .col-sm-12.col-md-6.d-flex
            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='#')
              .card.gel-featured-teaser_variant.flex-1(data-pseudo-link='data-pseudo-link')
                img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                .card-body.gel-featured-teaser__content_variant
                  span.gel-featured-teaser_highlight News Category
                  h4.card-title
                    | His room, a proper human room although a little too small, lay peacefully between its.
                  p
                    | and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It.
                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 25 December 2015
          .col-sm-12.col-md-6.d-flex
            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='#')
              .card.gel-featured-teaser_variant.flex-1(data-pseudo-link='data-pseudo-link')
                img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                .card-body.gel-featured-teaser__content_variant
                  span.gel-featured-teaser_highlight News Category
                  h4.card-title
                    | Drops of rain could be heard hitting the pane, which made him feel quite sad..
                  p
                    | He must have tried it a hundred times, shut his eyes so that he wouldnt have to look at the floundering legs, and only stopped.
                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 25 December 2015
          .col-sm-12.col-md-6.d-flex
            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='#')
              .card.gel-featured-teaser_variant.flex-1(data-pseudo-link='data-pseudo-link')
                img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                .card-body.gel-featured-teaser__content_variant
                  span.gel-featured-teaser_highlight News Category
                  h4.card-title
                    | One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his.
                  p
                    | His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. It wasnt.
                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 25 December 2015
          .col-sm-12.col-md-6.d-flex
            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='#')
              .card.gel-featured-teaser_variant.flex-1(data-pseudo-link='data-pseudo-link')
                img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                .card-body.gel-featured-teaser__content_variant
                  span.gel-featured-teaser_highlight News Category
                  h4.card-title
                    | His room, a proper human room although a little too small, lay peacefully between its.
                  p
                    | and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It.
                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 25 December 2015
          .col-sm-12.col-md-6.d-flex
            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='#')
              .card.gel-featured-teaser_variant.flex-1(data-pseudo-link='data-pseudo-link')
                img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                .card-body.gel-featured-teaser__content_variant
                  span.gel-featured-teaser_highlight News Category
                  h4.card-title
                    | Drops of rain could be heard hitting the pane, which made him feel quite sad..
                  p
                    | He must have tried it a hundred times, shut his eyes so that he wouldnt have to look at the floundering legs, and only stopped.
                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 25 December 2015
          .col-sm-12.col-md-6.d-flex
            a.gel-featured-teaser-link.d-flex.flex-grow-1(href='#')
              .card.gel-featured-teaser_variant.flex-1(data-pseudo-link='data-pseudo-link')
                img.img-fluid.card-img-top(src='//placehold.it/1200x900/' alt='')
                .card-body.gel-featured-teaser__content_variant
                  span.gel-featured-teaser_highlight News Category
                  h4.card-title
                    | One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his.
                  p
                    | His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. It wasnt.
                  time.gel-featured-teaser__date_variant(datetime='2015-12-25') 25 December 2015
      
      .container
        .gel_featured_teaser_pagination
          nav
            ul.gel-pagination
              li.gel-pagination__prev
                a(href='#' title='Previous page' aria-label='Previous page')
                  span Previous
              li
                a(href='#' title='Page 1' aria-label='Page 1') 1
              li.gel-pagination__more.gel-pagination__disabled
                span(href='#') ...           
              li
                a(href='#' title='Page 10' aria-label='Page 10') 10
              li.gel-pagination__disabled.gel-pagination__active
                a(href='#' tabindex='0' aria-label='Current Page 11' role='link') 11
              li
                a(href='#' title='Page 12' aria-label='Page 12') 12
              li.gel-pagination__more.gel-pagination__disabled
                span(href='#') ...
              li.gel-pagination__next
                a(href='#' title='Next page' aria-label='Next page')
                  span Next


  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>

dist/component-news-hub.html

<!-- Component - Local Mobile Navigation end--><!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="#{theme}" data-revision="18d6b197a">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="title" property="og:title" content=""/>
    <meta name="description" content=""/>
    <meta name="robots" content=""/>
    <meta name="doe.security.public" content="yes"/>
    <meta name="doe.orgunit" content="Teaching and learning"/>
    <meta name="doe.category" content=""/>
    <meta name="doe.audience" content=""/>
    <meta name="doe.topic" content=""/>
    <meta name="doe.tags" content=""/>
    <meta name="doe.job" content=""/>
    <meta name="doe.subjob" content=""/>
    <meta name="doe.yearlevel" content=""/>
    <meta property="og:description" content="Home Page"/>
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content=""/>
    <meta name="dcterms.identifier" content=""/>
    <meta name="dcterms.creator" content=""/>
    <meta name="dcterms.publisher" content=""/>
    <meta name="dcterms.rights" content=""/>
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00"/>
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00"/>
    <meta name="dcterms.subject" content=""/>
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU"/>
    <meta name="dcterms.format" content="dcterms.IMT; jpeg"/>
    <meta name="dcterms.type" content="text"/>
    <meta name="dcterms.audience" scheme="" content="All"/>
    <meta name="dcterms.coverage" content="Australia"/>
    <meta name="dcterms.rights" content=""/>
    <meta name="dcterms.isPartOf" content=""/>
    <meta name="dcterms.hasPart" content=""/>
    <meta name="dcterms.relation" content=""/>
    <meta name="AGLSTERMS.accessibility" content="W3C"/>
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified"/>
    <meta name="AGLSTERMS.function" content=""/>
    <meta name="AGLSTERMS.accessibility" content="W3C"/>
    <meta name="AGLSTERMS.function" content="EDUCATION AND TRAINING"/>
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified"/>
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/"/>
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/"/>
    <link rel="canonical" href=""/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ce0037"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome/all.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome-pro/all.css"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:300,500,600"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/core.css?r=18d6b197a" media="screen"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/print.css?r=18d6b197a" media="print"/>
    <link rel="stylesheet" href="assets/css/site.css?r=18d6b197a" media="screen"/>
    <link rel="stylesheet" href="assets/css/print.css?r=18d6b197a" media="print"/>
    <title>News Hub | Section name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!--[if gt IE 9 | !IE ]><!-->
<body class="standard education">
<!--<![endif]-->
<!--[if lte IE 9]>
<body class="gel-ie9 standard education">
<!--<![endif]-->
  <main class="gel-main">
    <div class="container">
      <h1>News Hub / Featured Teasers with Filter</h1>
      <div class="container gel_featured_teaser_container">
        <div class="row">
          <div class="col-lg-12">
            <form>
              <div class="gel-form gel-form--inline no-gutters" id="frm01" action="" method="GET">
                <fieldset>
                  <legend class="show-on-sr">News Sort Options</legend>
                  <div class="fav_show_wrapper">
                    <label for="25">Category</label>
                    <select id="25" name="25" data-gel-auto-submit2="data-gel-auto-submit2">
                      <option value="0">One morning</option>
                      <option value="1">His many</option>
                      <option value="2">His room</option>
                      <option value="3">and above</option>
                      <option value="4">Drops of</option>
                      <option value="5">He must</option>
                      <option value="6">One morning</option>
                      <option value="7">His many</option>
                    </select>
                  </div>
                  <div class="fav_show_wrapper">
                    <label for="67">News from</label>
                    <select id="67" name="67" data-gel-auto-submit2="data-gel-auto-submit2">
                      <option value="0">His room</option>
                      <option value="1">and above</option>
                      <option value="2">Drops of</option>
                      <option value="3">He must</option>
                      <option value="4">One morning</option>
                      <option value="5">His many</option>
                    </select>
                  </div>
                  <input class="btn gel-button gel-button-primary gel-button-small" id="sub01" type="submit" name="sub01" value="Filter">
                </fieldset>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
              <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt="">
                <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                  <h4 class="card-title">His room, a proper human room although a little too small, lay peacefully between its.</h4>
                  <p>and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It.</p>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div></a></div>
          <div class="col-sm-12 col-md-6 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
              <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt="">
                <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                  <h4 class="card-title">Drops of rain could be heard hitting the pane, which made him feel quite sad..</h4>
                  <p>He must have tried it a hundred times, shut his eyes so that he wouldnt have to look at the floundering legs, and only stopped.</p>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div></a></div>
          <div class="col-sm-12 col-md-6 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
              <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt="">
                <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                  <h4 class="card-title">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his.</h4>
                  <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. It wasnt.</p>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div></a></div>
          <div class="col-sm-12 col-md-6 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
              <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt="">
                <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                  <h4 class="card-title">His room, a proper human room although a little too small, lay peacefully between its.</h4>
                  <p>and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It.</p>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div></a></div>
          <div class="col-sm-12 col-md-6 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
              <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt="">
                <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                  <h4 class="card-title">Drops of rain could be heard hitting the pane, which made him feel quite sad..</h4>
                  <p>He must have tried it a hundred times, shut his eyes so that he wouldnt have to look at the floundering legs, and only stopped.</p>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div></a></div>
          <div class="col-sm-12 col-md-6 d-flex"><a class="gel-featured-teaser-link d-flex flex-grow-1" href="#">
              <div class="card gel-featured-teaser_variant flex-1" data-pseudo-link="data-pseudo-link"><img class="img-fluid card-img-top" src="//placehold.it/1200x900/" alt="">
                <div class="card-body gel-featured-teaser__content_variant"><span class="gel-featured-teaser_highlight">News Category</span>
                  <h4 class="card-title">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his.</h4>
                  <p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.  he thought. It wasnt.</p>
                  <time class="gel-featured-teaser__date_variant" datetime="2015-12-25">25 December 2015</time>
                </div>
              </div></a></div>
        </div>
      </div>
      <div class="container">
        <div class="gel_featured_teaser_pagination">
          <nav>
            <ul class="gel-pagination">
              <li class="gel-pagination__prev"><a href="#" title="Previous page" aria-label="Previous page"><span>Previous</span></a></li>
              <li><a href="#" title="Page 1" aria-label="Page 1">1</a></li>
              <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...           </span></li>
              <li><a href="#" title="Page 10" aria-label="Page 10">10</a></li>
              <li class="gel-pagination__disabled gel-pagination__active"><a href="#" tabindex="0" aria-label="Current Page 11" role="link">11</a></li>
              <li><a href="#" title="Page 12" aria-label="Page 12">12</a></li>
              <li class="gel-pagination__more gel-pagination__disabled"><span href="#">...</span></li>
              <li class="gel-pagination__next"><a href="#" title="Next page" aria-label="Next page"><span>Next</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>
  <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/moment/moment.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script></body>
</html>
