dist/global-ui-colors.html

<!-- Component - Local Mobile Navigation end--><!DOCTYPE html>
<html class="#{theme}" lang="en">
  <head data-theme="#{theme}" data-revision="18d6b197a">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="title" property="og:title" content=""/>
    <meta name="description" content=""/>
    <meta name="robots" content=""/>
    <meta name="doe.security.public" content="yes"/>
    <meta name="doe.orgunit" content="Teaching and learning"/>
    <meta name="doe.category" content=""/>
    <meta name="doe.audience" content=""/>
    <meta name="doe.topic" content=""/>
    <meta name="doe.tags" content=""/>
    <meta name="doe.job" content=""/>
    <meta name="doe.subjob" content=""/>
    <meta name="doe.yearlevel" content=""/>
    <meta property="og:description" content="Home Page"/>
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content=""/>
    <meta name="dcterms.identifier" content=""/>
    <meta name="dcterms.creator" content=""/>
    <meta name="dcterms.publisher" content=""/>
    <meta name="dcterms.rights" content=""/>
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00"/>
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00"/>
    <meta name="dcterms.subject" content=""/>
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU"/>
    <meta name="dcterms.format" content="dcterms.IMT; jpeg"/>
    <meta name="dcterms.type" content="text"/>
    <meta name="dcterms.audience" scheme="" content="All"/>
    <meta name="dcterms.coverage" content="Australia"/>
    <meta name="dcterms.rights" content=""/>
    <meta name="dcterms.isPartOf" content=""/>
    <meta name="dcterms.hasPart" content=""/>
    <meta name="dcterms.relation" content=""/>
    <meta name="AGLSTERMS.accessibility" content="W3C"/>
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified"/>
    <meta name="AGLSTERMS.function" content=""/>
    <meta name="AGLSTERMS.accessibility" content="W3C"/>
    <meta name="AGLSTERMS.function" content="EDUCATION AND TRAINING"/>
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified"/>
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/"/>
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/"/>
    <link rel="canonical" href=""/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ce0037"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome/all.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome-pro/all.css"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:300,500,600"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/core.css?r=18d6b197a" media="screen"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/print.css?r=18d6b197a" media="print"/>
    <link rel="stylesheet" href="assets/css/site.css?r=18d6b197a" media="screen"/>
    <link rel="stylesheet" href="assets/css/print.css?r=18d6b197a" media="print"/>
    <title>UI Colors | Section name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!--[if gt IE 9 | !IE ]><!-->
<body class="standard education">
<!--<![endif]-->
<!--[if lte IE 9]>
<body class="gel-ie9 standard education">
<!--<![endif]-->
  <style>
    body { background: #FFF; }
    
  </style>
  <main class="gel-main">
    <div class="container">
      <h1>UI Colors
        <h2>Brand colors - primary</h2>
        <hr>
        <p>The NSW Department of Education primary palette includes Deep Navy, Vibrant Red, and Soft Blue.</p>
        <div class="row">
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color navy"></div>
            <div class="mt-2"><b>Navy</b>
              <div>Uses: Background headers</div>
              <div>#041E42</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color red"></div>
            <div class="mt-2"><b>Red</b>
              <div>Uses: CTA's</div>
              <div>#CE0037</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color baby-blue"></div>
            <div class="mt-2"><b>Baby blue</b>
              <div>Uses: Separators</div>
              <div>#C8DCF0</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color white"></div>
            <div class="mt-2"><b>White</b>
              <div>Uses: Background</div>
              <div>#979797</div>
            </div>
          </div>
        </div>
        <h2 class="mt-5">Brand colors - secondary</h2>
        <hr>
        <p>We use the secondary palette sparingly to support the primary palatte.</p>
        <div class="row">
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color blue-default"></div>
            <div class="mt-2"><b>Blue default</b>
              <div>#1D428A</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color blue-mid"></div>
            <div class="mt-2"><b>Blue mid</b>
              <div>#407EC9</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color blue-tertiary"></div>
            <div class="mt-2"><b>Blue tertiary</b>
              <div>#6CACE4</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color highlight-pink"></div>
            <div class="mt-2"><b>Highlight pink</b>
              <div>#EE3C48</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color peach"></div>
            <div class="mt-2"><b>Peach</b>
              <div>Uses: Background headers</div>
              <div>#F3B8B5</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color grey"></div>
            <div class="mt-2"><b>Grey</b>
              <div>CTA's</div>
              <div>#E6E7E9</div>
            </div>
          </div>
        </div>
        <h2 class="mt-5">Shades of grey</h2>
        <hr>
        <p>We also use shades of grey in our UI seperate content, divide sections and indicate fields. These are not colours used to represent our brand. </p>
        <div class="row">
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color grey-60"></div>
            <div class="mt-2"><b>Grey 60</b>
              <div>60% Black Tint, Text</div>
              <div>#666666</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color grey-30"></div>
            <div class="mt-2"><b>Grey 30</b>
              <div>30% Black Tint</div>
              <div>#B3B3B3</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color grey-15"></div>
            <div class="mt-2"><b>Grey 15</b>
              <div>15% Black Tint, Disabled Fill</div>
              <div>#D9D9D9</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color grey-10"></div>
            <div class="mt-2"><b>Grey 10</b>
              <div>10% Black Tint, Nav Footer</div>
              <div>#E5E5E5</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color grey-5"></div>
            <div class="mt-2"><b>Grey 5</b>
              <div>5% Black Tint, Button Fill</div>
              <div>#F2F2F2</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color grey-2"></div>
            <div class="mt-2"><b>Grey 2</b>
              <div>2% Black Tint, Form Field Fill</div>
              <div>#FAFAFA</div>
            </div>
          </div>
        </div>
        <h2 class="mt-5">Text colors</h2>
        <hr>
        <div class="row">
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color navy"></div>
            <div class="mt-2"><b>Navy</b>
              <div>Headlines</div>
              <div>#041E42</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color black"></div>
            <div class="mt-2"><b>Black</b>
              <div>Body copy</div>
              <div>#000000</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color white"></div>
            <div class="mt-2"><b>White</b>
              <div>On dark backgrounds</div>
              <div>#FFFFFF</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color grey-60"></div>
            <div class="mt-2"><b>Grey</b>
              <div>&nbsp;</div>
              <div>#666666</div>
            </div>
          </div>
        </div>
        <h2 class="mt-5">System messages and alerts</h2>
        <hr>
        <div class="row">
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color error"></div>
            <div class="mt-2"><b>Error</b>
              <div>#FF635C</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color warning"></div>
            <div class="mt-2"><b>Warning</b>
              <div>#F69900</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color success"></div>
            <div class="mt-2"><b>Success</b>
              <div>#0CAC78</div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-5">
            <div class="brand-color info"></div>
            <div class="mt-2"><b>Info</b>
              <div>#00BFE9</div>
            </div>
          </div>
        </div>
      </h1>
    </div>
  </main>
  <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/moment/moment.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
  <script src="//dec-ce.bitbucket.io/gel/master/assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script></body>
</html>

src/global-ui-colors.pug
//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "UI Colors"

//--- HTML
//---------------------------------------------------------

doctype html
html(class="#{theme}", lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard education">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard education">
  <!--<![endif]-->

  style.
    body { background: #FFF; }

  main.gel-main

    .container
      h1 UI Colors
        h2 Brand colors - primary
        hr
        p
          | The NSW Department of Education primary palette includes Deep Navy, Vibrant Red, and Soft Blue.
        .row
          .col-6.col-md-3.mb-5
            div.brand-color.navy
            div.mt-2
              b Navy
              div Uses: Background headers
              div #041E42

          .col-6.col-md-3.mb-5
            div.brand-color.red
            div.mt-2
              b Red
              div Uses: CTA's
              div #CE0037

          .col-6.col-md-3.mb-5
            div.brand-color.baby-blue
            div.mt-2
              b Baby blue
              div Uses: Separators
              div #C8DCF0

          .col-6.col-md-3.mb-5
            div.brand-color.white
            div.mt-2
              b White
              div Uses: Background
              div #979797


        h2.mt-5 Brand colors - secondary
        hr
        p
          | We use the secondary palette sparingly to support the primary palatte.
        .row
          .col-6.col-md-3.mb-5
            div.brand-color.blue-default
            div.mt-2
              b Blue default
              div #1D428A

          .col-6.col-md-3.mb-5
            div.brand-color.blue-mid
            div.mt-2
              b Blue mid
              div #407EC9

          .col-6.col-md-3.mb-5
            div.brand-color.blue-tertiary
            div.mt-2
              b Blue tertiary
              div #6CACE4

          .col-6.col-md-3.mb-5
            div.brand-color.highlight-pink
            div.mt-2
              b Highlight pink
              div #EE3C48

          .col-6.col-md-3.mb-5
            div.brand-color.peach
            div.mt-2
              b Peach
              div Uses: Background headers
              div #F3B8B5

          .col-6.col-md-3.mb-5
            div.brand-color.grey
            div.mt-2
              b Grey
              div CTA's
              div #E6E7E9

        h2.mt-5 Shades of grey
        hr
        p
          | We also use shades of grey in our UI seperate content, divide sections and indicate fields. These are not colours used to represent our brand. 
        .row
          .col-6.col-md-3.mb-5
            div.brand-color.grey-60
            div.mt-2
              b Grey 60
              div 60% Black Tint, Text
              div #666666

          .col-6.col-md-3.mb-5
            div.brand-color.grey-30
            div.mt-2
              b Grey 30
              div 30% Black Tint
              div #B3B3B3

          .col-6.col-md-3.mb-5
            div.brand-color.grey-15
            div.mt-2
              b Grey 15
              div 15% Black Tint, Disabled Fill
              div #D9D9D9

          .col-6.col-md-3.mb-5
            div.brand-color.grey-10
            div.mt-2
              b Grey 10
              div 10% Black Tint, Nav Footer
              div #E5E5E5

          .col-6.col-md-3.mb-5
            div.brand-color.grey-5
            div.mt-2
              b Grey 5
              div 5% Black Tint, Button Fill
              div #F2F2F2

          .col-6.col-md-3.mb-5
            div.brand-color.grey-2
            div.mt-2
              b Grey 2
              div 2% Black Tint, Form Field Fill
              div #FAFAFA


        h2.mt-5 Text colors
        hr
        .row
          .col-6.col-md-3.mb-5
            div.brand-color.navy
            div.mt-2
              b Navy
              div Headlines
              div #041E42

          .col-6.col-md-3.mb-5
            div.brand-color.black
            div.mt-2
              b Black
              div Body copy
              div #000000

          .col-6.col-md-3.mb-5
            div.brand-color.white
            div.mt-2
              b White
              div On dark backgrounds
              div #FFFFFF

          .col-6.col-md-3.mb-5
            div.brand-color.grey-60
            div.mt-2
              b Grey
              div &nbsp;
              div #666666

          
        h2.mt-5 System messages and alerts
        hr
        .row
          .col-6.col-md-3.mb-5
            div.brand-color.error
            div.mt-2
              b Error
              div #FF635C

          .col-6.col-md-3.mb-5
            div.brand-color.warning
            div.mt-2
              b Warning
              div #F69900

          .col-6.col-md-3.mb-5
            div.brand-color.success
            div.mt-2
              b Success
              div #0CAC78

          .col-6.col-md-3.mb-5
            div.brand-color.info
            div.mt-2
              b Info
              div #00BFE9


  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug
  include assets/pug/_scripts.pug

  </body>
