src/index.pug
//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(class=theme, lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gel-ie9 standard">
  <!--<![endif]-->

  span#content(tabindex="-1")

  main.gel-main

    div.container

      div.row

        div.col

          h1
            | #{siteName} : #{pageName}

          h2 Components
          ul
            li
              a(href="component-button.html") Buttons
            li
              a(href="component-banner.html") Banners
            li
              a(href="component-notice-ribbon.html") Notice ribbon
            li
              a(href="component-featured-teaser.html") Featured Teasers
            li
              a(href="component-news-hub.html") News Hub
            li
              a(href="component-news-list.html") News list
            li
              a(href="component-content-teaser.html") Content Teasers
            li
              a(href="component-link-column.html") Link Column
            li
              a(href="component-link-group.html") Link Group
            li
              a(href="component-expanded-nav.html") Expanded Nav / Section Summary
            li
              a(href="component-input.html") Form Text Inputs
            li
              a(href="component-secretarys-update.html") Secretary's Update
            li
              a(href="component-search-box.html") Search Box
            li
              a(href="component-social-media.html") Social Media Feed
            li
              a(href="component-label-tag.html") Label tag
            li
              a(href="component-showhide.html") Show Hide
            li
              a(href="component-share-this.html") Share Tool
            li
              a(href="component-content-container.html") Content Container / Layout Container
            li
              a(href="component-select.html") Select Dropdown
            li
              a(href="component-content-aggregator.html") Content Aggregator
            li
              a(href="component-table-of-contents.html") Table of Contents

          h2 Templates

          h3 Standard

          ul
            li
              a(href="template-base.html") Base
            li
              a(href="template-standard.html") Standard
            li
              a(href="template-section.html") Section
            li
              a(href="template-landing.html") Landing
            li
              a(href="template-news-index.html") News Index
            li
              a(href="template-news-article.html") News Article
            li
              a(href="template-catalogue.html") Catalogue
            li
              a(href="template-feedback-form.html") Feedback form
            li
              a(href="template-level1.html") Level 1
            li
              a(href="template-level2.html") Level 2




          h3 Policy

          ul
            li
              a(href="template-policy-standard.html") Policy
            li
              a(href="template-policy-landing-page-topic-view.html") Policy Landing Page (Topic View)
            li
              a(href="template-policy-landing-page-a-z-view.html") Policy Landing Page (A-Z View)
            li
              a(href="template-policy-document-history.html") Document History
            li
              a(href="template-policy-implementation-document.html") Policy Implementation Document
            li
              a(href="template-policy-topics-page.html") Policy Topics Page


          h3 A-Z templates

          ul
            li
              a(href="template-landing-a-z-variation1.html") A-Z Template (Variation 1)
            li
              a(href="template-landing-a-z-variation2.html") A-Z Template (Variation 2)
            li
              a(href="template-landing-a-z-variation3.html") A-Z Template (Variation 3)

          h3 Specific

          ul
            li
              a(href="template-education-home.html") Education Home Page
            li
              a(href="template-news-hub.html") News hub
            li
              a(href="template-news-hub-article.html") News hub - Article template
              ul
                li
                  a(href="template-news-hub-article-variation-no-image.html") News hub - Article - variation- template without image
                li
                  a(href="template-news-hub-article-variation-secretary-update.html") News hub - Article - variation- template secretary's update
            li
              a(href="template-primary-hub-private.html") Primary hub (Private)
            li
              a(href="template-primary-hub-public.html") Primary hub (Public)
            li
              a(href="template-secondary-hub.html") Secondary hub

              ul
                li
                  a(href="template-secondary-hub-variation1.html") Secondary hub variation 1
                li
                  a(href="template-secondary-hub-variation2.html") Secondary hub variation 2
                li
                  a(href="template-secondary-hub-variation3.html") Secondary hub variation 3
                li
                  a(href="template-secondary-hub-variation4.html") Secondary hub variation 4
            li
              a(href="template-secondary-index.html") Secondary Index demo page
            li
              a(href="template-secondary-index-withparentclass.html") Secondary index - multiple demo page
            li
              a(href="template-erm-standard.html") ERM
            li
              a(href="template-standard-no-search-box.html") Policy Template Standard No Search
            li
              a(href="template-themes-demo.html") gel Themes Demo Template


          h3 Other

          ul
            li
              a(href="template-input-share-poc.html") Input Share PoC
            li
              a(href="template-long-document.html") Long Document
            li
              a(href="template-guided-journey.html") Guided Journey
            li
              a(href="component-livefyre.html") Livefyre component
            li
              a(href="doe-search.html") DoE Search

          h3 AEM Pages
          ul
            li
              a(href="page-home.html") Home
            li
              a(href="page-news.html") News
            li
              a(href="page-level-1.html") Level 1


  include ../bower_components/gel/src/assets/pug/components/_global-scripts.pug

  </body>

dist/index.html

<!-- Component - Local Mobile Navigation end--><!DOCTYPE html>
<html class="common" lang="en">
  <head data-theme="#{theme}" data-revision="18d6b197a">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="title" property="og:title" content=""/>
    <meta name="description" content=""/>
    <meta name="robots" content=""/>
    <meta name="doe.security.public" content="yes"/>
    <meta name="doe.orgunit" content="Teaching and learning"/>
    <meta name="doe.category" content=""/>
    <meta name="doe.audience" content=""/>
    <meta name="doe.topic" content=""/>
    <meta name="doe.tags" content=""/>
    <meta name="doe.job" content=""/>
    <meta name="doe.subjob" content=""/>
    <meta name="doe.yearlevel" content=""/>
    <meta property="og:description" content="Home Page"/>
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content=""/>
    <meta name="dcterms.identifier" content=""/>
    <meta name="dcterms.creator" content=""/>
    <meta name="dcterms.publisher" content=""/>
    <meta name="dcterms.rights" content=""/>
    <meta name="dcterms.created" content="scheme=dcterms.ISO8601; 2019-07-12T16:17:31+10:00"/>
    <meta name="dcterms.modified" content="scheme=dcterms.ISO8601; 2019-07-13T15:50:32+10:00"/>
    <meta name="dcterms.subject" content=""/>
    <meta name="dcterms.language" content="dcterms.RFC5646; en-AU"/>
    <meta name="dcterms.format" content="dcterms.IMT; jpeg"/>
    <meta name="dcterms.type" content="text"/>
    <meta name="dcterms.audience" scheme="" content="All"/>
    <meta name="dcterms.coverage" content="Australia"/>
    <meta name="dcterms.rights" content=""/>
    <meta name="dcterms.isPartOf" content=""/>
    <meta name="dcterms.hasPart" content=""/>
    <meta name="dcterms.relation" content=""/>
    <meta name="AGLSTERMS.accessibility" content="W3C"/>
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified"/>
    <meta name="AGLSTERMS.function" content=""/>
    <meta name="AGLSTERMS.accessibility" content="W3C"/>
    <meta name="AGLSTERMS.function" content="EDUCATION AND TRAINING"/>
    <meta name="AGLSTERMS.protectiveMarking" content="Unclassified"/>
    <link rel="schema.dcterms" href="https://purl.org/dc/terms/"/>
    <link rel="schema.AGLSTERMS" href="https://www.agls.gov.au/agls/terms/"/>
    <link rel="canonical" href=""/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ce0037"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome/all.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/fontawesome-pro/all.css"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:300,500,600"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.3.3/jquery.mmenu.all.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/vendor/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/core.css?r=18d6b197a" media="screen"/>
    <link rel="stylesheet" href="//dec-ce.bitbucket.io/gel/master/assets/css/print.css?r=18d6b197a" media="print"/>
    <link rel="stylesheet" href="assets/css/site.css?r=18d6b197a" media="screen"/>
    <link rel="stylesheet" href="assets/css/print.css?r=18d6b197a" media="print"/>
    <title>Index | Section name</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!--[if gt IE 9 | !IE ]><!-->
<body class="standard">
<!--<![endif]-->
<!--[if lte IE 9]>
<body class="gel-ie9 standard">
<!--<![endif]--><span id="content" tabindex="-1"></span>
  <main class="gel-main">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Section name : Index</h1>
          <h2>Components</h2>
          <ul>
            <li><a href="component-button.html">Buttons</a></li>
            <li><a href="component-banner.html">Banners</a></li>
            <li><a href="component-notice-ribbon.html">Notice ribbon</a></li>
            <li><a href="component-featured-teaser.html">Featured Teasers</a></li>
            <li><a href="component-news-hub.html">News Hub</a></li>
            <li><a href="component-news-list.html">News list</a></li>
            <li><a href="component-content-teaser.html">Content Teasers</a></li>
            <li><a href="component-link-column.html">Link Column</a></li>
            <li><a href="component-link-group.html">Link Group</a></li>
            <li><a href="component-expanded-nav.html">Expanded Nav / Section Summary</a></li>
            <li><a href="component-input.html">Form Text Inputs</a></li>
            <li><a href="component-secretarys-update.html">Secretary's Update</a></li>
            <li><a href="component-search-box.html">Search Box</a></li>
            <li><a href="component-social-media.html">Social Media Feed</a></li>
            <li><a href="component-label-tag.html">Label tag</a></li>
            <li><a href="component-showhide.html">Show Hide</a></li>
            <li><a href="component-share-this.html">Share Tool</a></li>
            <li><a href="component-content-container.html">Content Container / Layout Container</a></li>
            <li><a href="component-select.html">Select Dropdown</a></li>
            <li><a href="component-content-aggregator.html">Content Aggregator</a></li>
            <li><a href="component-table-of-contents.html">Table of Contents</a></li>
          </ul>
          <h2>Templates</h2>
          <h3>Standard</h3>
          <ul>
            <li><a href="template-base.html">Base</a></li>
            <li><a href="template-standard.html">Standard</a></li>
            <li><a href="template-section.html">Section</a></li>
            <li><a href="template-landing.html">Landing</a></li>
            <li><a href="template-news-index.html">News Index</a></li>
            <li><a href="template-news-article.html">News Article</a></li>
            <li><a href="template-catalogue.html">Catalogue</a></li>
            <li><a href="template-feedback-form.html">Feedback form</a></li>
            <li><a href="template-level1.html">Level 1</a></li>
            <li><a href="template-level2.html">Level 2</a></li>
          </ul>
          <h3>Policy</h3>
          <ul>
            <li><a href="template-policy-standard.html">Policy</a></li>
            <li><a href="template-policy-landing-page-topic-view.html">Policy Landing Page (Topic View)</a></li>
            <li><a href="template-policy-landing-page-a-z-view.html">Policy Landing Page (A-Z View)</a></li>
            <li><a href="template-policy-document-history.html">Document History</a></li>
            <li><a href="template-policy-implementation-document.html">Policy Implementation Document</a></li>
            <li><a href="template-policy-topics-page.html">Policy Topics Page</a></li>
          </ul>
          <h3>A-Z templates</h3>
          <ul>
            <li><a href="template-landing-a-z-variation1.html">A-Z Template (Variation 1)</a></li>
            <li><a href="template-landing-a-z-variation2.html">A-Z Template (Variation 2)</a></li>
            <li><a href="template-landing-a-z-variation3.html">A-Z Template (Variation 3)</a></li>
          </ul>
          <h3>Specific</h3>
          <ul>
            <li><a href="template-education-home.html">Education Home Page</a></li>
            <li><a href="template-news-hub.html">News hub</a></li>
            <li><a href="template-news-hub-article.html">News hub - Article template</a>
              <ul>
                <li><a href="template-news-hub-article-variation-no-image.html">News hub - Article - variation- template without image</a></li>
                <li><a href="template-news-hub-article-variation-secretary-update.html">News hub - Article - variation- template secretary's update</a></li>
              </ul>
            </li>
            <li><a href="template-primary-hub-private.html">Primary hub (Private)</a></li>
            <li><a href="template-primary-hub-public.html">Primary hub (Public)</a></li>
            <li><a href="template-secondary-hub.html">Secondary hub</a>
              <ul>
                <li><a href="template-secondary-hub-variation1.html">Secondary hub variation 1</a></li>
                <li><a href="template-secondary-hub-variation2.html">Secondary hub variation 2</a></li>
                <li><a href="template-secondary-hub-variation3.html">Secondary hub variation 3</a></li>
                <li><a href="template-secondary-hub-variation4.html">Secondary hub variation 4</a></li>
              </ul>
            </li>
            <li><a href="template-secondary-index.html">Secondary Index demo page</a></li>
            <li><a href="template-secondary-index-withparentclass.html">Secondary index - multiple demo page</a></li>
            <li><a href="template-erm-standard.html">ERM</a></li>
            <li><a href="template-standard-no-search-box.html">Policy Template Standard No Search</a></li>
            <li><a href="template-themes-demo.html">gel Themes Demo Template</a></li>
          </ul>
          <h3>Other</h3>
          <ul>
            <li><a href="template-input-share-poc.html">Input Share PoC</a></li>
            <li><a href="template-long-document.html">Long Document</a></li>
            <li><a href="template-guided-journey.html">Guided Journey</a></li>
            <li><a href="component-livefyre.html">Livefyre component</a></li>
            <li><a href="doe-search.html">DoE Search</a></li>
          </ul>
          <h3>AEM Pages</h3>
          <ul>
            <li><a href="page-home.html">Home</a></li>
            <li><a href="page-news.html">News</a></li>
            <li><a href="page-level-1.html">Level 1</a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  <script src="../assets/js/vendor/jquery.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/moment/moment.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/bootstrap/bootstrap.bundle.min.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/rousan/es6-promise-shim.js" type="text/javascript"></script>
  <script src="../assets/js/vendor/whatwg-fetch/fetch.js"></script></body>
</html>
